/********** Base styles **********/
* {
  box-sizing: border-box;
  font-family: Helvetica;
} 

h1 {
  font-size: 175%;
  margin-bottom: 15px; 
  text-align: center;
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}

.menu-item {
  padding: 5px;
} 

.menu-item-header {
  float:right;
  width: 150px;
  height: 30px;
  font-size: 125%; 
  text-align: center;
  border: 1px solid black; 
  padding: 2px;
}

.menu-item-header.head-1 {
  background-color: pink; 
  color: black; 
}

.menu-item-header.head-2 {
  background-color: red; 
  color: white; 
}

.menu-item-header.head-3 {
  background-color: yellow; 
  color: black; 
}

.menu-item-text {
  background-color: gray;
  color: black;
  border: 1px solid black; 
  margin: 0px;
  padding-top: 35px; 
  padding-left: 7px;
  padding-right: 5px;
  padding-bottom: 5px; 
}

p {
  padding: 0px;
  margin: 0px; 
  border: 0px;
}

/********** Desktop **********/
@media (min-width: 992px) {
  .col-dsk-1, .col-dsk-2, .col-dsk-3, .col-dsk-4, .col-dsk-5, .col-dsk-6, .col-dsk-7, .col-dsk-8, .col-dsk-9, .col-dsk-10, .col-dsk-11, .col-dsk-12 {
    float: left;
  }
  .col-dsk-1 {
    width: 8.33%;
  }
  .col-dsk-2 {
    width: 16.66%;
  }
  .col-dsk-3 {
    width: 25%;
  }
  .col-dsk-4 {
    width: 33.33%;
  }
  .col-dsk-5 {
    width: 41.66%;
  }
  .col-dsk-6 {
    width: 50%;
  }
  .col-dsk-7 {
    width: 58.33%;
  }
  .col-dsk-8 {
    width: 66.66%;
  }
  .col-dsk-9 {
    width: 74.99%;
  }
  .col-dsk-10 {
    width: 83.33%;
  }
  .col-dsk-11 {
    width: 91.66%;
  }
  .col-dsk-12 {
    width: 100%;
  }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-tab-1, .col-tab-2, .col-tab-3, .col-tab-4, .col-tab-5, .col-tab-6, .col-tab-7, .col-tab-8, .col-tab-9, .col-tab-10, .col-tab-11, .col-tab-12 {
    float: left;
  }
  .col-tab-1 {
    width: 8.33%;
  }
  .col-tab-2 {
    width: 16.66%;
  }
  .col-tab-3 {
    width: 25%;
  }
  .col-tab-4 {
    width: 33.33%;
  }
  .col-tab-5 {
    width: 41.66%;
  }
  .col-tab-6 {
    width: 50%;
  }
  .col-tab-7 {
    width: 58.33%;
  }
  .col-tab-8 {
    width: 66.66%;
  }
  .col-tab-9 {
    width: 74.99%;
  }
  .col-tab-10 {
    width: 83.33%;
  }
  .col-tab-11 {
    width: 91.66%;
  }
  .col-tab-12 {
    width: 100%;
  }
}

